.back-logo{
    padding-left: 10px;
    padding-top: 10px;
    width: 70px;
    height:auto;
}

img{
    max-width: 100%;
    max-height: 100%;
}

.center-element{
    position: absolute;
    top: 50%;
    left: 50%;
    width:60%;
    height:60%;
    transform: translateX(-50%) translateY(-50%);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    min-height:300;
}

.right-pane{
    float:right;
    width:50%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    flex-direction: column;
}

.form-container{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    padding-inline: 20%;

}

.desc-text{
    width: 100%;
    font-size:100%;
    padding-bottom: 20px;
}

#username{
    width: 100%;
    border: 2px solid #099dfd;
    border-radius: 5px;
    margin-bottom: 10px;
}

#password{
    width: 100%;
    border: 2px solid #099dfd;
    border-radius: 5px;
    margin-top: 10px;
}

button{
    margin-top: 20px;
    padding: 5px;
    padding-inline: 20px;
    font-size: 10px;
    border: none;
    border-radius: 3px;
    color: white;
    background-color: #099dfd;
    width: 70px;
}

button:hover{
    background-color: #5abdff;
}


.illustration-container{
    height: auto;
    display: flex;
}

.left-pane{
    float:left;
    width:50%;
    height:100%;
    background-color: #099dfd;
    align-items: center;
    flex-direction: column;
}

#left-content{
    margin-top: 20%;
    margin-inline: 20%;
    margin-bottom: 5%;
}

#tagline-container{
    display: flex;
    justify-content: center;
}

#tagline{
    text-align: center;
    color: white;
    font-family: 'Poppins', sans-serif;
    position:absolute;
    bottom:0;
    margin: 4%;
}